= simple_form_for(@ordem) do |f|
  = f.error_notification

  .form-inputs
    = f.input :equipamento
    = f.input :defeito
    = f.input :marca
    = f.input :descricao
    = f.input :string
    = f.input :status
    = f.input :valor
    = f.association :cliente
    = f.association :empregado

  .form-actions
    = f.submit "Salvar"
