%h1 Listing empregadores

%table
  %thead
    %tr
      %th Nome
      %th Telefone
      %th Endereco
      %th Cnpj
      %th
      %th
      %th

  %tbody
    - @empregadores.each do |empregador|
      %tr
        %td= empregador.nome
        %td= empregador.telefone
        %td= empregador.endereco
        %td= empregador.cnpj
        %td= link_to 'Show', empregador
        %td= link_to 'Edit', edit_empregador_path(empregador)
        %td= link_to 'Destroy', empregador, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Empregador', new_empregador_path
