%p#notice= notice

%p
  %b Nome:
  = @empregador.nome
%p
  %b Telefone:
  = @empregador.telefone
%p
  %b Endereco:
  = @empregador.endereco
%p
  %b Cnpj:
  = @empregador.cnpj

= link_to 'Edit', edit_empregador_path(@empregador)
\|
= link_to 'Back', empregadores_path
